@using test
@using test.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ASP.NET Web API</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    ---world

	<p>@Html.Link("Query one", SiteUrls.ParamsPlusQuery.With(42, "a", "b", "c=&"))</p>
	<p>@Html.ActionLink("Query two", "ModelParameter", routeValues: new Abc() {A = 42, B="Question", C="Answers?" })</p>
</body>
</html>
