@model Abc
@using Dysphoria.Net.UrlRouting.Test.Models
@using Dysphoria.Net.UrlRouting.Test
@{
    ViewBag.Title = "ModelParameter";
}

<h2>ModelParameter</h2>
<p>@Model.A</p>
<p>@Model.B</p>
<p>@Model.C</p>

@using (Html.BeginForm(SiteUrls.PostSearch))
{
	<ul>
		<li>
			A: <input name="A" />
		</li>
		<li>
			B: <input name="B" />
		</li>
		<li>
			C: <input name="C" />
		</li>
	</ul>
	
	<input type="submit" value="Go!" />
}
